/* add your styles here */
.name{
    text-align: center;
    font-size: 30px;
}
.photo img{
   display: grid;
   gap: 20px;
   width: 500px;
   height: 500px;
}
.photo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}